.aaa {
    background: url(sprites/style-1_sprite.png) no-repeat;
    height: 100px;
    width: 50px;
    display: inline-block
}

.bbb {
    background: url(sprites/style-1_sprite.png) -244px 0;
    height: 10px;
    width: 200px
}